.item {
  width: 385px;
  height: 475px;
  background: white;
  border-radius: 15px;
  position: relative;
  .img {
    width: 100%;
    height: 200px;

    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .content {
    padding-left: 15px;
    padding-right: 15px;
    &Upper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .rooms {
        opacity: 0.75;
        background: rgb(244, 243, 243);
        padding: 5px;
        padding-left: 7px;
        padding-right: 7px;
        height: 30px;
        border-radius: 10px;
      }
    }
    .location {
      margin-bottom: 25px;
    }
    .description {
      opacity: 0.6;
    }
    .moreBtn {
      position: absolute;
      bottom: 15px;
      color: gold;
      background: rgb(252, 249, 231);
      padding: 5px;
      border-radius: 10px;
      border: none;
      font-weight: 600;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        background: rgb(233, 231, 212);
      }
    }
  }
  .price {
    &Main {
      font-size: 20px;
      color: blue;
      font-weight: 600;
    }
  }
}
