.title {
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color: white;

  -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.1);

  padding: 0 40px;

  .black {
    color: black;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    @media (max-width: 860px) {
      font-size: 24px;
    }
    @media (max-width: 700px) {
      font-size: 20px;
    }
  }

  .yellow {
    color: yellow;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    @media (max-width: 860px) {
      font-size: 24px;
    }
    @media (max-width: 700px) {
      font-size: 20px;
    }
  }

  button {
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg, #9d94ff, #6b50e9);
    border-radius: 18px;
    transition: 0.3s all ease;
    cursor: pointer;
    @media (max-width: 1060px) {
      font-size: 16px;
    }
    @media (max-width: 700px) {
      font-size: 12px;
      padding: 10px;
    }
  }
}
.list {
  display: flex;
  gap: 75px;
  list-style-type: none;
  @media (max-width: 1060px) {
    gap: 50px;
  }
  @media (max-width: 860px) {
    display: none;
  }
}

.listItem {
  font-size: 20px;
  cursor: pointer;
  @media (max-width: 1060px) {
    font-size: 16px;
  }
}
.burgerMenu {
  display: none;
  @media (max-width: 860px) {
    display: block;
  }
}
.mobileMenu {
  width: 30%;
  position: absolute;
  top: 125px;
  left: -30%;

  background-color: white;
  transition: left 0.3s ease;
  z-index: 1000;

  &.open {
    left: 0;
  }
}
.mobileMenuItem {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;

  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: rgb(229, 228, 228);
  }
}
