.footer {
  padding: 20px 40px;
  height: 175px;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.black {
  color: black;
  font-weight: 600;
  font-size: 30px;
}

.yellow {
  color: yellow;
  font-weight: 600;
  font-size: 30px;
}
.desc {
  opacity: 0.6;
  @media (max-width: 860px) {
    font-size: 12px;
    max-width: 200px;
  }
  @media (max-width: 700px) {
    font-size: 10px;
    max-width: 140px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 15px;
  list-style-type: none;
}
.listElem {
  padding: 0;
  margin: 0;
  cursor: pointer;
  h3 {
    font-size: 18px;
    @media (max-width: 860px) {
      font-size: 16px;
    }
    @media (max-width: 700px) {
      font-size: 14px;
    }
  }
}
.logoFooter {
  margin-bottom: 20px;
  span {
    @media (max-width: 700px) {
      font-size: 24px;
    }
  }
}

.listSocial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  list-style-type: none;
  @media (max-width: 860px) {
    gap: 15px;
  }
  @media (max-width: 600px) {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  li {
    svg {
      @media (max-width: 860px) {
        width: 30px;
        height: 30px;
      }
      @media (max-width: 700px) {
        width: 25px;
        height: 25px;
      }
    }
  }
}
