.formStep {
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid rgb(210, 210, 210);
  padding: 20px;
  margin-bottom: 50px;

  @media (max-width: 500px) {
    padding: 10px;
  }

  h3.title {
    margin-bottom: 15px;
  }

  span {
    color: rgb(83, 83, 255);
  }

  & > div {
    margin-bottom: 15px;
  }

  h4 {
    margin-bottom: 5px;
  }

  img {
    max-width: 75%;
    height: auto;
    margin-top: 5px;
  }
}
